* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #516E45;
    display: flex;
    align-items: center;
    height: 100vh;
}

.dice {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
}

#start {
    width: 200px;
}